@import "libs/mixins";
@import "libs/type";
$app1: #533278 !important;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //background-color:$app1 ;
}
section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: auto !important;
  justify-content: center;
  align-items: center;
}
.contenedor {
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 1rem;
  text-align: center;
  max-width: 1180px;
  margin: auto;
  &-hero{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-flow: row;
    width: 100%;
    max-width: 1180px;
  margin: auto;
  border: 1px solid #ddd;
  }
}

.logo-hero {
  padding: 2rem;
  box-shadow: #2d0d52;
  max-width: 500px;
  opacity: 1 !important;
}
.hero {
  position: relative;
  z-index: 1;
 
}

#tsparticles{
 height:100vh;
 width: 100%;
  z-index: 0;
  
             
  background: linear-gradient(#392155, #623b8f, #4a1f7a);
          //background-image: url("../assets/bgHero.jpeg");
            -webkit-animation: 1s ease 0s normal forwards 1 fadein;
            animation: 1s ease 0s normal forwards 1 fadein;
}

.background-a{
  z-index: 0;
  position:absolute;
  opacity:1;
  height:100vh;
  width: 100%;
}

@keyframes fadein{
  0% { opacity:0; }
  77% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  77% { opacity:0; }
  100% { opacity:1; }
}

.about{
  background-image: url("../assets/bgHero.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
  min-width:180px;
  padding:1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

}