@import "libs/mixins";
@import "libs/type";
$app1: #4b0a59;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //background-color:$app1 ;
}
section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: auto !important;
  justify-content: center;
  align-items: center;
}
.contenedor {
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 1rem;
  text-align: center;
}

.logo-hero {
  padding: 2rem;
  width:100% ;
  max-width: 390px;
}
.hero {
  background-image: url("../assets/bgHero.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
